@model QuizApp.Models.Question;

@{
    ViewData["Title"] = "AddQuestion";
}

<h1>Dodaj pytanie</h1>

@using(Html.BeginForm("AddQuestion","Question",FormMethod.Post))
{
    @Html.ValidationSummary()

    <span>Treść pytania:</span> @Html.TextBoxFor(x => x.Content, new{Class ="form-control"}); 
    <br />
    @for (int i = 0; i < 4; i++)
    {
        <span>Odpowiedź @(i + 1):</span> @Html.TextBoxFor(x => x.Answers[i].Content, new{Class ="form-control"})
        ;
        <br />
            <center>
                 <span>Czy to jest poprawna odpowiedź:</span> @Html.RadioButtonFor(x => x.CorrectAnswerId, i,new {Class = "form-check-input", Name = "CorrectAnswerId" })
             </center>
        <br />
        //@Html.HiddenFor(x => x.Answers[i].QuestionId, Model.Id)
       /// @Html.HiddenFor(x => x.Answers[i].Question, Model)
    }
    

    <button class ="btn-lg btn-primary" type="submit">Dodaj pytanie</button>
}
